# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
myvenv/
venv/
.venv/

# Environment files
.env
.env.*

# Airflow
airflow/logs/
airflow/airflow-webserver.pid

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
